# Compiled binaries (Block these)
*.exe
*.o
*.res

# Build directories 
# (Removed 'build/' from here to upload anything inside it)
bin/

# IDE / Editor
.vscode/

# Runtime data (MOVED TO ALLOW UPLOAD)
# build/data/*.txt  <-- removed to allow sync

# To keep the data folder structure
!build/data/.gitkeep